.addressBox {
  width: 40%;
  height: 400px;
  text-align: center;
  background-color: rgb(231, 231, 231);
}

.addressOf {
  font-size: 34px;
  color: #000;
}

.address {
  font-size: 1.1vw;
  background-color: rgb(59, 58, 58);
  margin-top: 25px;
  color: white;
  cursor: pointer;
}
